homepage:
    prefix:   /
    path: /
    defaults:  { _controller: SMARTASKHomeBundle:Default:accueil }
fos_comment_api:
    type: rest
    resource: "@FOSCommentBundle/Resources/config/routing.yml"
    prefix: /api
    defaults: { _format: html }
smartask_comment:
    resource: "@SMARTASKCommentBundle/Resources/config/routing.xml"

contacts:
    type:     rest
    resource: "@SMARTASKAPIBundle/Controller/ContactController.php"
users:
    type:     rest
    resource: "@SMARTASKAPIBundle/Controller/UserController.php"    
groups:
    type:     rest
    resource: "@SMARTASKAPIBundle/Controller/GroupeController.php" 
tasks:
    type:     rest
    resource: "@SMARTASKAPIBundle/Controller/TaskController.php"          
#api:
#    type:     rest
#    resource: "@SMARTASKAPIBundle/Controller/DefaultController.php"
     
smartask_activity_accueil:
    path: /accueil
    defaults:
        _controller: SMARTASKHomeBundle:Default:accueil
login:
    path: /
login_check:
    path: /login_check
logout:
    path: /logout
smartask_home:
    resource: "@SMARTASKHomeBundle/Resources/config/routing.yml"
    prefix:   /
    
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile
smartask_activity_homepage:
    path:     /activite
    defaults: { _controller: SMARTASKHomeBundle:Default:activity }
fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile
fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
