{% extends "SMARTASKHomeBundle:Default:detailgroup.html.twig" %}


{% block content %}{#code a mettre a jour pour gerer les comments#}
            <div>
                {% block javascripts %}
                    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
                    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
                {% endblock %}

                {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
                    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
                {% endstylesheets %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
            </div>
            
{% endblock %}